html {
    text-align: center;
    background: #f4decb;
    font-family: 'Candara', sans-serif;
}

body {
    padding-top: 2em;
}

p {
    color: #94618e
}

.modal-content li {
    color: #49274a;
    text-align: left;
}

.modal-content p {
    color: #49274a;
}

.modal-content ol {
    text-align: center;
    margin-left: 20px;
}

h1, h2 {
    color: #49274a
}

.button-group button {
    font-family: 'Candara', sans-serif;
    background: #f8eee7;
    border: 1px solid #94618e;
    color: #94618e;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 2px;
}

.button-group:after {
    content: "";
    clear: both;
    display: table;
}

.button-group button:hover {
    background-color: white;
}

.submit-group button {
    font-family: 'Candara', sans-serif;
    background: #94618e;
    border: 1px solid #94618e;
    color: #f8eee7;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 2px;
}

.submit-group span {
    font-size: 1.5em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

